<!DOCTYPE html>
<html lang="en">
<head>
    <!-- GOOGLE FONTS AND META -->
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/../css/edit.css">
    <title>Edit Applications</title>
</head>
<body>
    <div class="container-fluid">
        <!-- NAV -->
        <%- include ('./partials/nav.ejs') %>
        <header>
            <h2>Edit Job Application</h2>
            <a class="btn btn-primary" href="/applications/">Back</a>
        </header>
        <div class="container-fluid">
            <form class="form-horizontal" action="/applications/<%= applications.id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Company Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="name" id="name" value="<%= applications.name %>"/>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="control-label col-sm-2" for="date">Applied On:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" name="date" id="date"/>
                    </div>
                </div> -->
                    
                <div class="form-group">
                    <label class="control-label col-sm-2" for="position">Position:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="position" id="position" value="<%= applications.position %>"/>
                    </div>
                </div>
                    
                <div class="form-group">
                    <label class="control-label col-sm-2" for="jobPosting">Job Posting:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="jobPosting" id="jobPosting" value="<%= applications.jobPosting %>"/>
                    </div>
                </div>
                    
                <div class="form-group">
                    <label class="control-label col-sm-2" for="service">Service Used:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="service" id="service" placeholder="Indeed/LinkedIn/Hired" value="<%= applications.service %>"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="location">Company Address:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="location" id="location" value="<%= applications.location %>"/>
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="control-label col-sm-2" for="comment">Comments:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="comment" id="comment" value="<%= applications.comment %>"/>
                    </div>
                </div>
                
                <div class="checkbox form-group form-check-inline">
                    <label class="form-check-label" for="interview">Interview?</label>
                    <input class="check form-check-input" type="checkbox" name="interview" id="interview"
                    <% if (applications.offer === true) { %>
                        checked
                        <% } %>/>
                </div>
    
                <div class="checkbox form-group form-check-inline">
                    <label class="form-check-label" for="offer">Job Offer?</label>
                    <input class="check form-check-input" type="checkbox" name="offer" id="offer"
                    <% if (applications.offer === true) { %>
                        checked
                    <% } %>/>
                </div>
                
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
        
    
        <!-- FOOTER -->
        <%- include ('./partials/footer.ejs') %>

    </div>
    
</body>
</html>