<!DOCTYPE html>
<html lang="en">
<head>
    <!-- GOOGLE FONTS AND META -->
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/../css/edit.css">
    <title>Edit Applications</title>
</head>
<body>
    <!-- NAV -->
        <%- include ('./partials/nav.ejs') %>
    <header>
        <h2>Edit Job Application</h2>
        <a href="/applications/">Return To Home Page</a>
    </header>

    <form action="/applications/<%= applications.id %>?_method=PUT" method="POST">
        <label for="name">Company Name:</label>
        <input type="text" name="name" id="name" value="<%= applications.name %>"/>

        <!-- <label for="date">Applied On:</label>
        <input type="date" name="date" id="date" value="<%= applications.date %>"/> -->

        <label for="position">Position Applied For:</label>
        <input type="text" name="position" id="position" value="<%= applications.position %>"/>

        <label for="jobPosting">Job Posting:</label>
        <input type="text" name="jobPosting" id="jobPosting" value="<%= applications.jobPosting %>"/>

        <label for="service">Site/Service Used:</label>
        <input type="text" name="service" id="service" value="<%= applications.service %>"/>

        <label for="location">Company Address:</label>
        <input type="text" name="location" id="location" value="<%= applications.location %>"/>

        <label for="comment">Comments:</label>
        <input type="text" name="comment" id="comment" value="<%= applications.comment %>"/>

        <label for="interview">Interview?</label>
        <input type="checkbox" name="interview" id="interview"
            <% if (applications.offer === true) { %>
            checked
            <% } %> />

        <label for="offer">Job Offer?</label>
        <input type="checkbox" name="offer" id="offer" 
            <% if (applications.offer === true) { %>
                checked
            <% } %>    
        />

        <input type="submit" value="Submit">
    </form>
    <!-- FOOTER -->
    <%- include ('./partials/footer.ejs') %>

</body>
</html>