<!DOCTYPE html>
<html lang="en">
<head>
    <!-- GOOGLE FONTS AND META -->
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="../css/index.css">
    <title>Applications Sent</title>
</head>
<body>
    <div class="container-fluid">
        <!-- NAV -->
        <%- include ('./partials/nav.ejs') %>
        <header class="text-center">
            <h2>List of Sent Applications</h2>
        </header>
        
        <div class="listing container d-flex flex-wrap justify-content-around">
            
                <% for (let i = 0; i < applications.length; i++) { %>
                <div class="card" style="width: 30%;">
                        <div class="card-body">
                            <h5 class="card-title"> Company Name: <%= applications[i].name %></h5>
                            <h6 class="card-subtitle">Position: <%= applications[i].position %></h6>
                            <a class="card-link"href="<%= applications[i].jobPosting %>">Link to Job Posting</a> 
                            <br>
                            <a class="card-link" href="/applications/<%= applications[i].id %>">More Details</a>
                            <br>

                            <div class="btn-group d-flex flex-wrap justify-content-between">
                                <!-- EDIT LINK -->
                                <a class="btn btn-primary" id="edit" href="/applications/<%= applications[i].id %>/edit">EDIT</a>
                                <!-- DELETE FORM -->
                                <form action="/applications/<%= applications[i].id %>?_method=DELETE" method="POST">
                                <input class="btn btn-primary" type="submit" value="DELETE"/>
                                </form>
                            </div>
                            
                        </div>
                </div>
                <% } %>
        </div>
        <!-- FOOTER -->
        <%- include ('./partials/footer.ejs') %>
    </div>
    




</body>
</html>