<!DOCTYPE html>
<html lang="en">
<head>
    <!-- GOOGLE FONTS AND META -->
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="../css/index.css">
    <title>Applications Sent</title>
</head>
<body>
    <div class="container-fluid">
        <!-- NAV -->
        <%- include ('./partials/nav.ejs') %>
        <header>
            <h2>List of Sent Applications</h2>
        </header>
        
        <div class="list">
            
                <% for (let i = 0; i < applications.length; i++) { %>
                <div class="list-items">
                        Company Name: <%= applications[i].name %>
                        <br>
                        Position Applied For: <%= applications[i].position %>
                        <br>
                        <a href="<%= applications[i].jobPosting %>">Link to Job Posting</a> 
                        <br>
                        <div class="btns">
                            <a href="/applications/<%= applications[i].id %>">More Details</a>
                            <br>
                            <!-- EDIT LINK -->
                            <a href="/applications/<%= applications[i].id %>/edit">EDIT</a>
                            <br>
                            <!-- DELETE FORM -->
                            <form action="/applications/<%= applications[i].id %>?_method=DELETE" method="POST">
                                <input type="submit" value="DELETE"/>
                            </form>
                        </div>

                        
                </div>
                <% } %>
        </div>
        <!-- FOOTER -->
        <%- include ('./partials/footer.ejs') %>
    </div>
    




</body>
</html>