<!DOCTYPE html>
<html lang="en">
<head>
    <!-- GOOGLE FONTS AND META -->
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="../css/show.css">
    <title>Applications Sent</title>
</head>
<body>
    <div class="container-fluid">
        <!-- NAV -->
        <%- include ('./partials/nav.ejs') %>
        <header class="text-center">
            <h2><%= applications.name %></h2>
            <a class="btn btn-primary"  href="/applications/">Back</a>
        </header>
       
        <div class="container-fluid d-flex justify-content-center card mx-auto" style="width: fit-content;">
            <ul class="list-group list-group-flush" style="width: fit-content;">
                <li class="list-group-item">
                    Position Applied For: <%= applications.position %>
                </li>
                <li class="list-group-item">
                    Date Applied: <%= applications.date %>
                </li>
                <li class="list-group-item">
                    Service/Site Used: <%= applications.service %>
                </li>
                <li class="list-group-item">
                    Company Address: <%= applications.location %>
                </li>
                <li class="list-group-item">
                    Comments: <%= applications.note %>
                </li>
                <li class="list-group-item">
                    Interview? <% if (applications.interview === true) { %>
                        Yes
                    <% } else { %>
                        No
                        <% } %>
                </li>
                <li class="list-group-item">
                    Offer? <% if (applications.offer === true) { %>
                        Yes
                            <% } else { %>
                            No
                            <% } %>
                </li>
            </ul>   

            <!-- <div class="list-items">
                    Position Applied For: <%= applications.position %>
                    <br>
                    Date Applied: <%= applications.date %>
                    <br>
                    Service/Site Used: <%= applications.service %>
                    <br>
                    Company Address: <%= applications.location %>
                    <br>
                    Comments: <%= applications.note %>
                    <br>
                    Interview? <% if (applications.interview === true) { %>
                                    Yes
                                <% } else { %>
                                    No
                                    <% } %>
                    <br>
                    Offer? <% if (applications.offer === true) { %>
                        Yes
                            <% } else { %>
                            No
                            <% } %>
                    <br>
            </div> -->
        </div>
        <!-- FOOTER -->
        <%- include ('./partials/footer.ejs') %>
    </div>
</body>
</html>