<!DOCTYPE html>
<html lang="en">
<head>
    <!-- GOOGLE FONTS AND META -->
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="../css/show.css">
    <title>Applications Sent</title>
</head>
<body>
    <div class="container-fluid">
        <!-- NAV -->
        <%- include ('./partials/nav.ejs') %>
        <header class="text-center">
            <h2><%= applications.name %></h2>
            <a class="btn btn-primary"  href="/applications/">Back</a>
        </header>
       
        <div class="container-fluid d-flex justify-content-center card mx-auto" style="width: fit-content;">
            <ul class="list-group list-group-flush" style="width: fit-content;">
                <li class="list-group-item">
                    Position Applied For <img src="https://img.icons8.com/fluent/16/000000/arrow.png"/> <%= applications.position %>
                </li>
                <li class="list-group-item">
                    <% if (applications.date) { %> 
                        Date Applied <img src="https://img.icons8.com/fluent/16/000000/arrow.png"/> <%= applications.date.toDateString() %>
                        <% } else { %>
                            Date Applied <img src="https://img.icons8.com/fluent/16/000000/arrow.png"/> N/A
                            <% } %>
                </li>
                <li class="list-group-item">
                    Service/Site Used <img src="https://img.icons8.com/fluent/16/000000/arrow.png"/> <%= applications.service %>
                </li>
                <li class="list-group-item">
                    Company Location <img src="https://img.icons8.com/fluent/16/000000/arrow.png"/> <%= applications.location %>
                </li>
                <li class="list-group-item">
                    Comments <img src="https://img.icons8.com/fluent/16/000000/arrow.png"/> <%= applications.note %>
                </li>
                
                <li class="list-group-item">
                    Interview? <% if (applications.interview === true) { %>
                        Yes
                    <% } else { %>
                        No
                        <% } %>
                </li>
                <li class="list-group-item">
                    Offer? <% if (applications.offer === true) { %>
                        Yes
                            <% } else { %>
                            No
                            <% } %>
                </li>
                <li class="list-group-item">
                    <a href="<%= applications.jobPosting %>">Link to Job Description</a>
                </li>
            </ul>   

            <!-- <div class="list-items">
                    Position Applied For: <%= applications.position %>
                    <br>
                    Date Applied: <%= applications.date %>
                    <br>
                    Service/Site Used: <%= applications.service %>
                    <br>
                    Company Address: <%= applications.location %>
                    <br>
                    Comments: <%= applications.note %>
                    <br>
                    Interview? <% if (applications.interview === true) { %>
                                    Yes
                                <% } else { %>
                                    No
                                    <% } %>
                    <br>
                    Offer? <% if (applications.offer === true) { %>
                        Yes
                            <% } else { %>
                            No
                            <% } %>
                    <br>
            </div> -->
        </div>
        <!-- FOOTER -->
        <%- include ('./partials/footer.ejs') %>
    </div>
</body>
</html>