<!DOCTYPE html>
<html lang="en">
<head>
    <!-- GOOGLE FONTS AND META -->
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="../css/show.css">
    <title>Applications Sent</title>
</head>
<body>
    <div class="container">
        <!-- NAV -->
        <%- include ('./partials/nav.ejs') %>
        <header>
            <h2><%= applications.name %></h2>
            <a href="/applications/">Back</a>
        </header>
        <hr>
        <div class="list">   
            <div class="list-items">
                    Position Applied For: <%= applications.position %>
                    <br>
                    Date Applied: <%= applications.date %>
                    <br>
                    Service/Site Used: <%= applications.service %>
                    <br>
                    Company Address: <%= applications.location %>
                    <br>
                    Comments: <%= applications.note %>
                    <br>
                    Interview? <% if (applications.interview === true) { %>
                                    Yes
                                <% } else { %>
                                    No
                                    <% } %>
                    <br>
                    Offer? <% if (applications.offer === true) { %>
                        Yes
                            <% } else { %>
                            No
                            <% } %>
                    <br>
            </div>
        </div>
        <!-- FOOTER -->
        <%- include ('./partials/footer.ejs') %>
    </div>
</body>
</html>